<footer id="footer" class="style-2">
    <div class="tf-container">
        <div class="row">
            <div class="col-12">
                <div class="footer-top">
                    <div class="footer-logo">
                        <a href="/">
                            <img id="logo_footer" src="~/images/footer-logo.png" data-retina="~/images/logo/footer-logo@2x.png" alt="">
                        </a>
                    </div>
                    <div class="wrap-social">
                        <!-- Социальные сети (закомментированы в оригинале) -->
                    </div>

                    <div class="footer-main">
                        <div class="footer-menu-list footer-col-block">
                            <h6 class="title title-desktop">О нас</h6>
                            <h6 class="title title-mobile">О нас</h6>
                            <div class="tf-collapse-content">
                                <p class="description">Мы специализируемся на финансовых услугах для частных лиц и профессионалов. Наш опыт и надежность делают нас надежным партнером.</p>
                            </div>
                        </div>

                        <div class="footer-menu-list footer-col-block">
                            <h6 class="title title-desktop">Контакты</h6>
                            <h6 class="title title-mobile">Контакты</h6>
                            <ul class="tf-collapse-content footer-info">
                                <li><i class="icon-MapPin"></i> Welserstr. 13-15 (Geisbeegerstr.), 10777 Berlin, Allemagne</li>
                                <li><i class="icon-Envelope"></i> <a href="mailto:contact@groupeargitis.com">contact@groupeargitis.com</a></li>
                                <li><i class="icon-PhoneCall"></i> <a href="tel:+34 610-340-344">+34 610-340-344</a></li>
                            </ul>
                        </div>

                        <div class="footer-menu-list footer-col-block">
                            <h6 class="title title-desktop">Быстрые ссылки</h6>
                            <h6 class="title title-mobile">Быстрые ссылки</h6>
                            <ul class="tf-collapse-content">
                                <li><a href="/">Главная</a></li>
                                <li><a href="/Home/About">О нас</a></li>
                                <li><a href="/Home/Services">Наши услуги</a></li>
                                <li><a href="/Home/Contact">Контакты</a></li>
                                <li><a href="/Home/Appointment">Запросить кредит</a></li>
                            </ul>
                        </div>

                        <div class="footer-menu-list footer-col-block">
                            <h6 class="title title-desktop">Наши услуги</h6>
                            <h6 class="title title-mobile">Наши услуги</h6>
                            <ul class="tf-collapse-content">
                                <li><a href="/Home/Appointment">Персональный кредит</a></li>
                                <li><a href="/Home/Appointment">Автокредит</a></li>
                                <li><a href="/Home/Appointment">Ипотечный кредит</a></li>
                                <li><a href="/Home/Appointment">Инвестиционный кредит</a></li>
                                <li><a href="/Home/Appointment">Выкуп/реструктуризация долгов</a></li>
                                <li><a href="/Home/Appointment">Рефинансирование кредитов</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="footer-bottom">
                        <p>Copyright © 2025 GROUPE-ARGITIS <a href="#" target="_blank"></a> All rights reserved</p>
                        <ul class="content-right">
                            <li><a href="#">Terms Of Services</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>