<header id="header-main" class="header header-style-absolute header-default">
    <div class="header-inner">
        <div class="tf-container">
            <div class="row">
                <div class="col-12">
                    <div class="header-inner-wrap">
                        <div class="header-logo">
                            <a href="/" class="site-logo">
                                <img id="logo_header" alt="" src="~/images/logo-white.png" data-retina="~/images/logo/logo-white@2x.png">
                            </a>
                        </div>
                        <div class="header-logo-2">
                            <a href="/" class="site-logo">
                                <img id="logo_header" alt="" src="~/images/logo.png" data-retina="~/images/logo/logo@2x.png">
                            </a>
                        </div>
                        <nav class="main-menu">
                            <ul class="navigation">
                                <li>
                                    <a href="/">Главная</a>
                                </li>
                                <li>
                                    <a href="/Home/About">О нас</a>
                                </li>
                                <li>
                                    <a href="/Home/Services">Наши услуги</a>
                                </li>
                                <li>
                                    <a href="/Home/Contact">Контакты</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="header-right">
                            <!-- Language Selector -->
                            <div class="tf-languages">
                                <div class="tf-dropdown-sort" data-bs-toggle="dropdown">
                                    <div class="btn-select">
                                        <span class="text-sort-value">
                                            <img src="~/images/ru.jpg" alt="ru" class="flag-icon">
                                            <span class="lang-text">RU</span>
                                            <i class="icon-CaretDown"></i>
                                        </span>
                                    </div>
                                    <div class="dropdown-menu">
                                        <div class="select-item" data-lang="fr">
                                            <img src="~/images/fr.jpg" alt="Французский" class="flag-icon">
                                            <span class="text-value-item">Французский</span>
                                        </div>
                                        <div class="select-item" data-lang="en">
                                            <img src="~/images/en.jpg" alt="Английский" class="flag-icon">
                                            <span class="text-value-item">Английский</span>
                                        </div>
                                        <div class="select-item" data-lang="de">
                                            <img src="~/images/de.jpg" alt="Немецкий" class="flag-icon">
                                            <span class="text-value-item">Немецкий</span>
                                        </div>
                                        <div class="select-item" data-lang="es">
                                            <img src="~/images/es.jpg" alt="Испанский" class="flag-icon">
                                            <span class="text-value-item">Испанский</span>
                                        </div>
                                        <div class="select-item" data-lang="fi">
                                            <img src="~/images/fi.jpg" alt="Финский" class="flag-icon">
                                            <span class="text-value-item">Финский</span>
                                        </div>
                                        <div class="select-item" data-lang="hr">
                                            <img src="~/images/hr.jpg" alt="Хорватский" class="flag-icon">
                                            <span class="text-value-item">Хорватский</span>
                                        </div>
                                        <div class="select-item" data-lang="it">
                                            <img src="~/images/it.jpg" alt="Итальянский" class="flag-icon">
                                            <span class="text-value-item">Итальянский</span>
                                        </div>
                                        <div class="select-item" data-lang="lt">
                                            <img src="~/images/lt.jpg" alt="Литовский" class="flag-icon">
                                            <span class="text-value-item">Литовский</span>
                                        </div>
                                        <div class="select-item" data-lang="lv">
                                            <img src="~/images/lv.jpg" alt="Латышский" class="flag-icon">
                                            <span class="text-value-item">Латышский</span>
                                        </div>
                                        <div class="select-item" data-lang="mt">
                                            <img src="~/images/mt.jpg" alt="Мальтийский" class="flag-icon">
                                            <span class="text-value-item">Мальтийский</span>
                                        </div>
                                        <div class="select-item" data-lang="nl">
                                            <img src="~/images/nl.jpg" alt="Голландский" class="flag-icon">
                                            <span class="text-value-item">Голландский</span>
                                        </div>
                                        <div class="select-item" data-lang="pl">
                                            <img src="~/images/pl.jpg" alt="Польский" class="flag-icon">
                                            <span class="text-value-item">Польский</span>
                                        </div>
                                        <div class="select-item" data-lang="pt">
                                            <img src="~/images/pt.jpg" alt="Португальский" class="flag-icon">
                                            <span class="text-value-item">Португальский</span>
                                        </div>
                                        <div class="select-item" data-lang="ro">
                                            <img src="~/images/ro.jpg" alt="Румынский" class="flag-icon">
                                            <span class="text-value-item">Румынский</span>
                                        </div>
                                        <div class="select-item active" data-lang="ru">
                                            <img src="~/images/ru.jpg" alt="Русский" class="flag-icon">
                                            <span class="text-value-item">Русский</span>
                                        </div>
                                        <div class="select-item" data-lang="sk">
                                            <img src="~/images/sk.jpg" alt="Словацкий" class="flag-icon">
                                            <span class="text-value-item">Словацкий</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="group-btn">
                                <!-- кнопки поиска и корзины (закомментированы в оригинале) -->
                            </div>
                            <div class="btn-get">
                                <a class="tf-btn style-default btn-color-secondary pd-40" href="/Home/Appointment">
                                    <span>Запросить кредит</span>
                                </a>
                            </div>
                            <div class="mobile-button" data-bs-toggle="offcanvas" data-bs-target="#menu-mobile" aria-controls="menu-mobile">
                                <i class="icon-menu"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>